.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.8), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $secondary;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: #fff;
    background-color: lighten($secondary, 10%);
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

.buybutton {
  white-space: nowrap;
  display: inline-block;
//  float: left;
  height: 40px;
  width: 280px;
  line-height: 40px;
  margin: 30px 0px 0px 40px;
  padding: 0 10px;
  box-shadow: 0 4px 48px rgba(50, 50, 93, 0.9), 0 1px 30px rgba(0, 0, 0, 0.16);
  background: $secondary;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: #fff;
    background-color: lighten($secondary, 10%);
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
  @include media-breakpoint-up(xs) {
        margin: 30px 5px 0px 5px;
      }
  @include media-breakpoint-up(sm) {
        margin: 30px 30px 0px 30px;
      }
  @include media-breakpoint-up(md) {
    margin: 30px 30px 0px 30px;
  }
  @include media-breakpoint-up(lg) {
    margin: 30px 0px 0px 40px;
  }
}

.patreonbutton {
  white-space: nowrap;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.8), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: #fff;
    background-color: lighten($secondary, 10%);
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

.collapsible {
  font-family: $font-family-heading;
  font-size: 2 rem;
  line-height: 1.2;
  font-weight: $font-weight-light;
  color: $secondary;
  @include media-breakpoint-up(md) {
    line-height: 1.2;
    font-weight: $font-weight-light;
  }
  cursor: pointer;
  padding: 18px;
  width: 85%;
  border: none;
  border-top: double !important;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS) and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: lighten($secondary, 10%);
  color: white;
}

/* Style the collapsible content. Note: hidden by default */
.collapsibleContent {
  display: none;
  overflow: hidden;
}