.social-media-footer {
display: flex;
flex-direction: row; 
justify-content: space-between;
  @include media-breakpoint-up(xs) {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 12px;
    margin-right: 12px;
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.footer-strip {
  background: $secondary;
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.footer {
  display: grid;
  @include media-breakpoint-up(xs) {
    justify-content: center;
    grid-template-columns: auto auto;
  }
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
    grid-template-columns: auto auto;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-title {
    color: #ffffff;
    margin-bottom: 10px;
    flex: 0;
    @include media-breakpoint-up(xs) {
      display: none;
    }
    @include media-breakpoint-up(sm) {
      display: none;
    }
    @include media-breakpoint-up(md) {
      display: flex;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  .footer-title > h3 {
    font-size: 1.3rem;
    font-family: $font-family-heading;
  } 
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    li {
      display: block;
      margin-right: 10px;
      font-size: 0.8rem;
      color: #ffffff;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.copyright {
        font-weight: bold;
        color: #ffffff;
      }
    }
    @include media-breakpoint-up(sm) {
      height: inherit;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: flex-end;
      li {
        list-style: none;
        a {
          display: inline-block;
          height: 40px;
          padding: 10px 8px 10px 8px;
          font-weight: 300;
        }
      }
    }
    @include media-breakpoint-up(md) {
      li {
        font-size: 0.9rem;
      }
    }
  }
}
