.header {
  height: auto;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  color: $primary;
  display: grid;
  justify-items: center;
  //box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
//  .container {
//    display: block;
//    justify-content: space-between;
//  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

.social-media-header {
    @include media-breakpoint-up(xs) {
      display: inline-flex;
      flex-direction: row; 
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }
    @include media-breakpoint-up(sm) {
      display: inline-flex;
      flex-direction: row; 
      margin-top: 10px;
      margin-left: 30px;
      margin-right: 30px;
    }
    @include media-breakpoint-up(md) {
      display: inline-flex;
      flex-direction: row; 
      justify-content: space-between;
      margin-left: 40px;
      margin-right: 40px;
    }
    @include media-breakpoint-up(lg) {
      display: inline-block;
      flex-direction: column; 
      justify-content: space-between;
      padding-top: 0px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

