.header {
  height: auto;
  margin: auto;
  color: $primary;
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  .container {
    display: block;
    justify-content: space-between;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

}

