.header {
  height: auto;
  margin: auto;
  color: $primary;
  background-color: clear;
  display: grid;
  justify-items: center;
  //box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  .container {
    display: block;
    justify-content: space-between;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

.social-media2 {
  display: inline-block;
  flex-direction: column; 
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

