.iframe {
  height: 850px;
  width: 80%;
  border: none;
}

.iframeFiction {
  min-height: 1030px;
  width: 80%;
  border: none;
}

.iframePoetry {
  min-height: 845px;
  width: 80%;
  border: none;
}

.iframeNonFiction {
  min-height: 830px;
  width: 80%;
  border: none;
}

.iframeArt {
  min-height: 780px;
  width: 80%;
  border: none;
}

.iframeContact {
  min-height: 620px;
  width: 80%;
  border: none;
}

