@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
}

.intro {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;

  padding-top: 0px;
  padding-bottom: 0px;
  @include media-breakpoint-up(sm) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0px;                                          //padding-top for the whole top section from the header with the links
    padding-bottom: 0px;
  }
  h1 {                                                          //title of each post (really just the title)
    color: $secondary;
    text-align: center;
    margin: auto;
    font-size: 2rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 90%;
    @include media-breakpoint-up(sm) {
      font-size: 1.3rem;
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 2rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      width: 90%;
    }

  }
  h2 {                                                           //byline of each post (has author and issue)
    color: $secondary;
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
    line-height: 2;
    font-family: $font-family-heading;
    width: 90%;
    @include media-breakpoint-up(sm) {
      font-size: .7rem;
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
      width: 90%;
    }
  }
  h3 {
    color: $primary;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-size: 3rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 90%;
    @include media-breakpoint-up(sm) {
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      width: 90%;
    }
  }
  h4 {
    color: $secondary;
    padding-top: 30px;
    text-align: center;
    margin: auto;
    font-size: .8rem;
    line-height: 1.2;
    font-weight: bold;
    font-family: $font-family-heading;
    width: 90%;
//    background-image: url('../images/border01.png');
//    background-repeat: no-repeat;
//    background-position:center;
    @include media-breakpoint-up(sm) {
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.6rem;
      width: 90%;
    }
  }
  h5 {
    color: $secondary;
    font-family: $font-family-heading;
    width: 100%;
    font-weight: bold;
    line-height: 1.6;
    padding: 10px 25px 10px 35px;
    @include media-breakpoint-up(sm) {
      text-align: justify;
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      text-align: justify;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      text-align: justify;
      width: 100%;
    }
  }
  h6 {
    color: $secondary;
    font-family: $font-family-heading;
    line-height: 1.2;
    padding-left: 40px;
  }
  hr { 
    clear:both;
    display:block;
    height: 1px;
    width: 80%;               
    margin: auto; 
    margin-top: 3%; 
    margin-bottom: 1%; 
    border: 1px dotted $primary;
  }
  p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.6;
    color: $secondary;
    padding: 10px 45px 0px 45px;
    @include media-breakpoint-up(sm) {
      font-size: .8rem;
      text-align: justify;
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1rem;
      text-align: justify;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      text-align: justify;
      width: 100%;
    }
  }
  .opacity { 
    opacity: 0.6;
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 100px;
}

.inlineimage {
  float: left;
  margin: 0px 35px 5px 60px;
  width: 275px;
  text-align: center;
  border: 2px solid black;
}

.authorimage {
  display: grid;
  float: left;
  margin: 10px 35px 5px 60px;
  width: 175px;
  text-align: center;
  border: 2px solid black;
}

.authorimagebottom {
  display: grid;
  float: left;
  margin: 10px 35px 5px 60px;
  width: 175px;
  text-align: center;
}

.editorImageAbout {
  display: grid;
  float: right;
  margin: 10px 60px 5px 35px;
//  width: 175px;
  text-align: center;
  border: 2px solid black;
}

.topimage {                                                                 //This is for the cover at the top
  float: left;
  margin: 30px 0px 0px 0px;
  width: 100px;
  text-align: center;
  border: 2px solid $secondary;
  box-shadow: 0 4px 48px rgba(50, 50, 93, 0.9), 0 1px 30px rgba(0, 0, 0, 0.32);
}

.topImageLeft {                                                                 //This is for the cover at the top
  float: left;
  margin: 30px 0px 0px 40px;
  width: 100px;
  text-align: center;
  border: 2px solid $secondary;
  box-shadow: 0 4px 48px rgba(50, 50, 93, 0.9), 0 1px 30px rgba(0, 0, 0, 0.32);
}

.advert {
  float: left;
  margin: 30px 0px 0px 40px;
  width: 100px;
  text-align: center;
  border: 2px solid $secondary;
}

.advertLong {
  width: 100px;
  text-align: center;
  border: 2px solid $secondary;
}

.innertopimage {                                                                 //This is for the cover at the top
  float: left;
  margin: 10px 35px 10px 0px;
  width: 200px;
  text-align: center;
  border: 2px solid black;
}

.grid-container {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;

//  background-color: #2196F3;
//  width: 100%;
@include media-breakpoint-up(sm) {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
@include media-breakpoint-up(md) {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
@include media-breakpoint-up(lg) {
  padding-top: 0px;                                          //padding-top for the whole top section from the header with the links
  padding-bottom: 0px;
  display: grid;
}
}
.grid-container > div {
//  background-color: rgba(215, 241, 254, 0.7);                             //this is the test background
  box-sizing: border-box;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 30px;
}

.share {
  margin-top: 50px;
  text-shadow: 2px 2px gray;
  color: white;
  display: block;
  align-items: center;
  justify-content: center;
}

.biotitle {
  text-align: left !important;
}

.frontissue {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: $font-family-heading;
  padding-top:0px;
  padding-bottom: 50px;
  @include media-breakpoint-up(sm) {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0px;                                          //padding-top for the whole top section from the header with the links
    padding-bottom: 0px;
  }
  h5 {
    color: $secondary;
    width: 100%;
    font-weight: bold;
    line-height: 1.6;
    padding: 0px 25px 0px 35px;
    text-align: center;
    margin-bottom: 0rem;
    @include media-breakpoint-up(sm) {
      text-align: center;
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      text-align: center;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      text-align: center;
      width: 100%;
    }
  }
  hr { 
    clear:both;
    display:block;
    height: 1px;
    width: 50%;               
    margin: auto; 
    margin-top: 1%; 
    margin-bottom: 1%; 
    border: 1px dotted $primary;
  }
  p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.6;
    margin-bottom: 0rem;
    color: $secondary;
    padding: 5px 0px 5px 0px;
    text-align: center;
    @include media-breakpoint-up(sm) {
      font-size: .9rem;
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.1rem;
      width: 100%;
    }
  }
}

.noPadding {
  padding: 0px !important;
}

.authorbody {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  padding-top:0px;
  padding-bottom: 0px;
  @include media-breakpoint-up(sm) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 00px;
    padding-bottom: 0px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.6;
    color: $secondary;
    padding: 10px 60px 10px 60px;
    @include media-breakpoint-up(sm) {
      font-size: .8rem;
      text-align: justify;
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1rem;
      text-align: justify;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      text-align: justify;
      width: 100%;
    }
  }
  h1 {                                                          //title of each post (really just the title)
    color: $primary;
    text-align: left;
    margin: auto;
    font-size: 2rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 90%;
    @include media-breakpoint-up(sm) {
      font-size: 1.3rem;
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 2rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      width: 90%;
    }
  }
  h2 {                                                           //byline of each post (has author and issue)
    color: $secondary;
    text-align: left;
    margin: auto;
    font-size: 1.2rem;
    line-height: 2;
    font-family: $font-family-heading;
    width: 90%;
    @include media-breakpoint-up(sm) {
      font-size: .7rem;
      padding: 10px 0px 0px 0px;
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
      width: 90%;
    }
  }
  h3 {                                                            //section heads (e.g., latest stories etc)
    color: $primary;
    text-align: left;
    margin: auto;
    padding: 30px 20px 0px 20px;
    font-size: 3rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 90%;
    @include media-breakpoint-up(sm) {
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 3rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      width: 90%;
    }
  }
  h4 {
    color: $secondary;
    text-align: center;
    margin: auto;
    padding: 0px 00px 0px 0px;
    font-size: .8rem;
    line-height: 1.2;
    font-family: $font-family-heading;
//    background-image: url('../images/border01.png');
//    background-repeat: no-repeat;
//    background-position:center;
    width: 90%;
    @include media-breakpoint-up(sm) {
      width: 90%;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
      width: 90%;
    }
  }
}

hr { 
  clear:both;
  display:block;
  height: 1px;
  width: 50%;               
  margin: auto; 
  margin-top: 1%; 
  margin-bottom: 1%; 
  border: 1px dotted $primary;
}

.thin {
  grid-column: 2 / span 2;
  padding: 0px;
  @include media-breakpoint-up(sm) {
    width: 90%;
  }
  @include media-breakpoint-up(md) {
    width: 90%;
  }
  @include media-breakpoint-up(lg) {
    width: 90%;
  }
}

.thinLeft {
  grid-column: 1 / span 1;
  padding: 0px;
  box-sizing: content-box;
  display: inline-block;
  @include media-breakpoint-up(sm) {
    width: 90%;
  }
  @include media-breakpoint-up(md) {
    width: 90%;
  }
  @include media-breakpoint-up(lg) {
    width: 90%;
  }
}


.thin3 {
  grid-column: 1 / span 1;
  float: left;
  width: 25%;
  padding: 20px 20px;
  box-sizing: content-box;
}


.wide {
  grid-column: 1 / span 1;
  padding-top: 30px;
  box-sizing: content-box;
}

.wideRight {
  grid-column: 2 / span 2;
  @include media-breakpoint-up(sm) {
    width: 90%;
  }
  @include media-breakpoint-up(md) {
    width: 90%;
  }
  @include media-breakpoint-up(lg) {
    width: 90%;
  }
}

.wide3 {
  float: left;
  width: 50%;
  padding: 10px 10px;
  @include media-breakpoint-up(sm) {
    width: 90%;
  }
  @include media-breakpoint-up(md) {
    width: 90%;
  }
  @include media-breakpoint-up(lg) {
    width: 90%;
  }
}



.frontissue-left {
  width: 50%;
  float: left;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 22.5px;
  //  background: #ccc;
  height: 100%;
}
.frontissue-right {
  width: 50%;
  float: right;
  padding-top: 20px;
  padding-right: 45px;
  padding-left: 22.5px;
  //  background: #aaa;
  height: 100%;
}
