.page-home {
  background-image: url('../images/milky_way_small_flipped-v2.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(xs) {
    background-size:auto;
    background-position: 100% 0px;
  }
  @include media-breakpoint-up(sm) {
    background-size: 100%;
    background-position: 100% 0px;
  }
  @include media-breakpoint-up(md) {
    background-size: cover;
    background-position: 100% 0px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 100%;
    background-position: 100% 0px;
  }
}
